<!DOCTYPE html>
<html>
<head>
	<title>{{name}}</title>
	<link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="global.css">
</head>
<body>