<h1 id="bl-lessons">Lessons</h1>
<ul id="bl-menu">
{{#if showBack}}
	<li class="bl-menuItem"><a href="/">Home</a></li>
{{/if}}
{{#each lessons}}
	<li class="bl-menuItem"><a href="/{{this}}/">{{this}}</a></li>
{{/each}}
</ul>