<h1 id="bl-practice">Practice</h1>
<p>To begin practicing click below on practice and edit the practice code in your editor. If you want to see the final solution click on Solution.</p>
<ul id="bl-ps">
	<li class="bl-psItem"><a href="practice/" target="_blank">Practice</a></li>
	<li class="bl-psItem"><a href="solution/" target="_blank">Solution</a></li>
</ul>