<h1 id="bl-practice">Practice</h1>
<ul id="bl-ps">
{{#if hasPractice}}
	<li class="bl-psItem"><a href="practice/" target="_blank">Practice</a></li>
{{/if}}
{{#if hasSolution}}
	<li class="bl-psItem"><a href="solution/" target="_blank">Solution</a></li>
{{/if}}
</ul>