<h1>Practice</h1>
<p>To begin practicing click below on practice and edit the practice code in your editor. If you want to see the final solution click on Solution.</p>
<ul>
	<li><a href="practice/">Practice</a></li>
	<li><a href="solution/">Solution</a></li>
</ul>